* text=auto

*.ts text eol=lf working-tree-encoding=UTF-8
*.tsx text eol=lf working-tree-encoding=UTF-8
*.rs text eol=lf working-tree-encoding=UTF-8
*.py text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.yml text eol=lf working-tree-encoding=UTF-8
*.yaml text eol=lf working-tree-encoding=UTF-8
